.intro {
    justify-content: center;
    width: 100%;
    height: 95vh;
    padding-top: 10px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}
.intro__pjct {
    justify-content: center;
    width: 100%;
    height: 95vh;
    padding-top: 10px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}


.intro__title {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}

.intro__suptitle {
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #333;
    margin: 60px auto 0;
}

.intro__inner {
    padding-top: 20px;
    width: 100%;
    max-width: 1210px;
    
    min-height: 800px;
    margin: 0 auto;
    border: 2px solid grey;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background-color: whitesmoke
}
