@using ProjectManager.Service

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h1 class="header-content-title">About</h1>
            <div class="about-area">
                <h2>Programm:</h2>
                <h4>@Config.Title</h4>
                <h4>@Config.Version</h4>
                <h2>About Company:</h2>
                <h4>@Config.CompanyName</h4>
                <h4>@Config.Copyright</h4>
            </div>
        </div>
    </div>
</div>