@using ProjectManager.Service

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h1 class="header-content-title">Contacts</h1>
            <div class="contacts-area">
                <h2>Contact information:</h2>
                <h4>@Config.CompanyPhone</h4>
            </div>
        </div>
    </div>
</div>