<div class="intro__inner">
    <h1 class="header-content-title">Admin area</h1>
    <div class="admin-area">
        <div class="admin-nav">
            <a class="admin-nav__link" asp-controller="Account" asp-action="Register">Register new user</a>
            <br />
            <a class="admin-nav__link" asp-controller="Users" asp-action="Create">Add new user</a>
            <br />
            <a class="admin-nav__link" asp-controller="Roles" asp-action="Index">Roles</a>
            <br />
            <a class="admin-nav__link" asp-controller="Users" asp-action="Index">Users</a>
        </div>
    </div>
</div>