@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Identity

<div class="header">
    <div class="container">

        <div class="header__inner">

            <div class="header__logo">
                <img src="~/images/PMlogo.svg" class="img" alt="My image" />
            </div>
            <div class="nav">

                @{var user = UserManager.FindByIdAsync(UserManager.GetUserId(User)).GetAwaiter().GetResult();} 

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav__link" asp-controller="Users" asp-action="EditFromPersonal" asp-route-id="@user.Id">Logged as: @User.Identity.Name</a>
                    if (User.IsInRole("admin"))
                    {
                        <a class="nav__link" asp-controller="Admin" asp-action="Index">Admin area</a>
                    }

                    <a class="nav__link" asp-controller="Account" asp-action="Logout" value="Logout">Logout</a>
                    <a class="nav__link" asp-controller="Projects" asp-action="Index" value="Projects">Projects</a>

                }
                <a class="nav__link" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav__link" asp-controller="Home" asp-action="About">About</a>
                <a class="nav__link" asp-controller="Home" asp-action="Contacts">Contacts</a>

            </div>
        </div>
    </div>
</div>


@*<a class="nav__link" href="@Url.Action("Logout", "Account")" type="submit" value="Logout">Logout</a>*@
@*<form method="post" asp-controller="Account" asp-action="Logout">
        <input class="nav__link" type="submit" value="Logout" />
    </form>*@